<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="true">Carousel</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="true">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="true">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="true">Messages</a>
      </li>
    </ul>

    <div class="btn-group" dropdown [insideClick]="true"
         *ngIf="accountService.currentUser$ | async, else logIn">
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        {{userName}}<span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu mt-3" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Edit profile</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

    <ng-template #logIn>
      <ul class="nav navbar-nav navbar-right"><!--  (currentUser$ | async) === null    -->
        <form #loginForm="ngForm" class="d-flex" role="submit" (ngSubmit)="login()"
        autocomplete="off" >
          <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                 placeholder="Username">
          <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                 placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </ul>
    </ng-template>
  </div>
</nav>
